<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Prediksi - Dorsal App</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="app-header">
            <img src="/icon.png" alt="App Icon" class="app-icon">
            <div>
                <h1 class="app-name">DORSAL</h1>
                <h3 class="app-description">
                    <span class="highlight">D</span>eteksi p<span class="highlight">O</span>stu<span class="highlight">R</span> tubuh berbasi<span class="highlight">S</span> <span class="highlight">A</span>rtificial inte<span class="highlight">L</span>ligence
                </h3>
            </div>
        </div>
    </header>
    <div class="container result-container">
        <div class="image-container">
            <img src="<%= processedImage %>" alt="Processed Image">
        </div>
        <div class="result-details">
            <h2>Detail Hasil Prediksi</h2>
            <table>
                <tr>
                    <td><strong>Tingkat Akurasi</strong></td>
                    <td><%= (confidence * 100).toFixed(2) %> %</td>
                </tr>
                <tr>
                    <td><strong>Kategory Prediksi</strong></td>
                    <td><%= predictedCategory %></td>
                </tr>
                <tr>
                    <td><strong>Waktu Prediksi Model</strong></td>
                    <td><%= predictionTime.toFixed(3) %> detik</td>
                </tr>
                <tr>
                    <td><strong>Waktu yang Dibutuhkan</strong></td>
                    <td><%= consumedTime.toFixed(3) %> detik</td>
                </tr>
            </table>
            <div class="button-container">
                <button type="button" onclick="window.location.href = '/'">Kembali ke Awal</button>
            </div>
        </div>
    </div>
</body>

</html>